*{
    margin: 5px;
}
h1{
    text-align: center;
    color: green;
}

.upper_container{
    position: relative;
    top: 20px;
}
.img img{
    width: 400px;
    height: 300px;
    position: absolute;
    background-size: cover;
    object-fit:fill;
    top: 0;
    left: 0;
    border-radius: 10px;
}

.paraside p{
    position: absolute;
    left: 420px;
    text-align: justify;
    text-indent: 10px;
    font-size: 16px;
    font-weight: 500;
    margin: 0px 10px;
    color: rgb(108, 6, 23);
    background-image: url("https://media.istockphoto.com/id/840213124/photo/india-and-the-world.jpg?s=612x612&w=0&k=20&c=fzKMFWTLzkjj6J_mn19U21A7zFp1V7zaVyf9L5YwQsY=");
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    
}
.lower_container{
    position: relative;
    top: 350px;
}
.pledge p{
    position: absolute;
    left: 0;
    right: 25%;
    text-align: justify;
    text-indent: 10px;
    font-size: 20px;
    font-style: italic;
    color: rgb(206, 75, 97);
}
.img_flag img{
    position: absolute;
    width: 250px;
    height: 150px;
    right: 20px;
    object-fit: contain;
    top: 0;
    border-radius: 10px;
    /* border: 2px solid black; */
}
